.profile-drop-menu {
	position:absolute;
	top: 30px;
	left: 30px;
	background-color: white;
	border: 1px solid pink;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 2px 5px 15px #999999;
}

.above-nav-banner {
	height: 50px;
	background-color: aquamarine;
}

.nav-bar-container {
	/* If below height is specified, how prevent resized browser does not cause elements to break out of container */
	height: 60px;
	position: sticky;
	/* margin-top:10px; */
	top:0px;
	/* top:30px; */
	background-color: lightpink;
	z-index: 1000;
	/* position: relative; */
	/* position: fixed; */
}

/* .nav-bar-placeholder {
	height: 100px;
	background-color: lightpink;
} */

.profile-drop-menu:hover {
	/* horiz offset, vert offset, blur amt, color */
	box-shadow: 2px 5px 15px #888888;
}

.profile-drop-menu > li:hover {
	color: red;
}

.nav-link {
	margin-right: 10px;
}
